<ion-view view-title="">
  <ion-content class="chat-content-outer">
    <div class="chat-content">
      <div class="no-message" ng-show="chat.length <= 0">
        <h1>Hallo !</h1>
        <p>Ketik di kolom chat untuk memulai</p>
      </div>
      <div class="chat-item" ng-class="d.isBot" ng-repeat="d in chat">
        <div class="card">
          <div class="item item-text-wrap">
            {{d.text}}
            <div class="movie-list" ng-if="d.isMovie">
              <ul>
                <li ng-repeat="e in d.list">{{e}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card bilboard-list" ng-show="d.isBilboard">
          <div class="item item-text-wrap" ng-repeat="e in d.list">
            <p class="rank">{{$index+1}}</p>
            <p><strong>Artist : </strong> {{e.artist}}</p>
            <p><strong>Track : </strong> {{e.title}}</p>
          </div>
        </div>

        <div class="card busway-list" ng-show="d.isBusway">
          <div class="item item-text-wrap" ng-repeat="e in d.list">
            <h1>{{e.name}}</h1>
            <p>Distance <em>+</em>{{e.distance}}M</p>
          </div>
        </div>

        <div class="card busway-route" ng-show="d.isBuswayRoute">
          <div class="station-list" ng-repeat="(idx,e) in d.list">
            <em ng-show="idx >= 1"><i class="icon ion-network"></i> transit</em>
            <div class="item item-icon-left" ng-repeat="f in e.stations">
              <i class="icon ion-android-bus"></i>
              {{f.name}}
            </div>
          </div>
        </div>

        <div class="card binusmaya-schedule" ng-show="d.isBimaySchedule">
          <div class="item" ng-repeat="e in d.list">
            {{e.name}}
            <p>Ruang : {{e.room}} &mdash; <i class="icon ion-android-time"></i> : {{e.time}}</p>
          </div>
        </div>

      </div>
      <ion-spinner icon="android" class="green-spinner" ng-show="loading"></ion-spinner>
      <a id="chat-bottom"></a>
    </div>
  </ion-content>
  <div class="bar bar-footer">
    <form ng-submit="submit()" class="form-chat">
      <div class="chat-bar item item-input-inset">
        <div class="item-input-wrapper">
          <input type="text" placeholder="Type or Command here" class="chat-command" ng-model="text">
        </div>
        <button class="button button-small button-positive" ng-show="text" ng-click="submit()"><i class="icon ion-android-send"></i></button>
        <button class="button button-small button-positive" ng-hide="text" ng-click="voice()"><i class="icon ion-mic-a"></i></button>
      </div>
    </form>
  </div>
</ion-view>
