<ion-view view-title="Settings">
  <ion-content class="settings-page">
    <div class="card">
      <div class="item item-divider">Basic Settings</div>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Assistant URL</span>
          <input type="text" placeholder="http://0.0.0.0/assist" ng-model="settings.masterUrl">
        </label>
      </div>
      <div class="padding">
        <button class="button button-full button-positive" ng-click="save()">Save</button>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Binusmaya Old API</div>
      <div class="list list-inset" ng-show="settings.binusmaya">
        Logedin As <strong>{{settings.binusmaya.name}}</strong>
      </div>
      <div class="list list-inset" ng-hide="settings.binusmaya">
        <label class="item item-input">
          <input type="text" placeholder="Binusian ID" ng-model="binusmaya.userid">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password" ng-model="binusmaya.password">
        </label>
      </div>
      <div class="padding">
        <button ng-show="settings.binusmaya" class="button button-full button-assertive" ng-click="logoutBimay()">Logout &amp; Change Credential</button>
        <button ng-hide="settings.binusmaya" class="button button-full button-positive" ng-click="loginBimay()">Check Credential and login</button>
      </div>
    </div>

    <div class="padding">
      <a class="button button-full button-stable" href="#/app/about">About</a>
    </div>

  </ion-content>
</ion-view>
